html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* * {
  border:1px solid red;
} */

body {
  font-family: 'Lora', serif;
  color:#333;
  margin: 0;
  background-color: whitesmoke;
}

.wrapper {
  max-width: 1300px;
  margin:0 auto;
  background: url(images/flowers.jpg) no-repeat right top;
}

.back {
  background-color: rgba(245, 245, 245, 0);
}

footer, section {
  margin: 1rem 0 1rem 1rem;
}

h1, h2, h3 {
  margin: 0;
  font-family: 'Leckerli One', cursive;
}

p {
  margin:0.5rem 0 1rem;
}

/* Page title */
header {
  margin: 0 1rem;
  padding:3rem 0;
}

h1 {
  font-size: 5rem;
  color:#ef0437;
}

.tagline {
  font-size:1.3rem;
  margin-top:-0.5rem;
  margin-left:0.5rem;
}

/* Sections */

h2 {
  font-size: 3.5rem;
  margin:3rem 0 0;
  position:relative;
  color:#f99401;
  z-index:0;
}

h2:after {
  content: "";
  position: absolute;
  bottom: 0.8rem;
  left: 0;
  height: 3px;
  width: 100%;
  background: #333;
  background: linear-gradient(to right, #bb0a1d,#da8ecf);
  border-radius: 5px;
  z-index:-1;
 }

.flex {
  display:flex;
  flex-flow:row wrap;
  justify-content: center;
}

/* Project tiles */
.project {
  width: 300px;
  padding:0.7rem;
  margin: 3rem 1rem 0 0;
  background-color:white;
}

.project img {
  border: 5px white solid;
  box-shadow: 2px 2px 6px grey;
  display:block;
  width:250px;
  margin: 5px auto;
}

h3 {
  font-size: 1.5em;
  margin-top:-2.1rem;
  color:#ee0937;
}

a {
  text-decoration:none;
}

a:hover img {
    transform: rotate(2deg);
}

img {
  max-width: 100%;
}

/* Footer */
footer img {
  width:50px;
  margin: 0.5rem;
}

/*  ---- MEDIA QUERIES ----  */

@media (max-width: 800px) {
  .back {
    background-color: rgba(245, 245, 245, 0.85);
  }
}

@media (max-width: 485px) {
  header {
    text-align:center;
    padding:2rem 0 0 0;
  }
}


