html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* * {
  border:1px solid red;
} */

body {
  font-family: "Lora", serif;
  color: #1a1a1a;
  margin: 0;
}

.wrapper {
  max-width: 1364px;
  margin: 0 auto 4rem;
  background: url(images/drawing.png) no-repeat right top;
}

footer,
section {
  margin: 0 2rem;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: "Leckerli One", cursive;
}

p {
  margin: 0.5rem 0 1rem;
  font-size: 1.1rem;
}

/* Page title */
header {
  padding: 4rem 2rem 1rem 2rem;
}

h1 {
  font-size: 5rem;
  color: #4b5f81;
}

.tagline {
  font-size: 1.3rem;
  margin-top: -0.5rem;
  margin-left: 0.5rem;
}

/* Sections */

h2 {
  font-size: 3.5rem;
  margin: 3rem 0 0;
  position: relative;
  color: #40567a;
  z-index: 0;
}

h2:after {
  content: "";
  position: absolute;
  bottom: 0.8rem;
  left: 0;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, #151269, #81b1ce);
  border-radius: 5px;
  z-index: -1;
}

.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* Project tiles */
.project {
  width: 300px;
  padding: 0.7rem;
  margin: 3rem 1rem 0 0;
  background-color: #fcfcfc;
}

.project img {
  border: 5px white solid;
  box-shadow: 2px 2px 6px grey;
  display: block;
  width: 250px;
  margin: 5px auto;
}

.project a {
  display: block;
  text-align: right;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5em;
  margin-top: -2.1rem;
  color: #344a6f;
}

a {
  color: #20375e;
  font-size: 1.1rem;
}

a:visited {
  color: #293f65;
}

a:hover img {
  transform: rotate(360deg);
  transition-duration: 1s;
}

img {
  max-width: 100%;
}

/* Footer */
footer img {
  width: 50px;
  margin: 0.5rem;
}

.overlay {
  background-color: rgba(255, 255, 255, 0.5);
}

/*  ---- MEDIA QUERIES ----  */

@media (max-width: 900px) {
  .overlay {
    background-color: rgba(255, 255, 255, 0.815);
  }
}

@media (max-width: 505px) {
  header {
    text-align: center;
    padding: 2rem 2rem 0;
  }
}
